{% extends "index_template.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-4-desktop is-4-tablet">
                    

<aside class="menu">

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/generation_tasks/overview" class="is-active"><strong>Generation Problem</strong></a>
            
            <ul>
                
                
                <li><a href="/generation_tasks/molgen" class=""><code>MolGen</code> Molecule Generation</a></li>
                
                
                
                <li><a href="/generation_tasks/retrosyn" class=""><code>RetroSyn</code> Retrosynthesis Prediction</a></li>
                
                
                
                <li><a href="/generation_tasks/reaction" class=""><code>Reaction</code> Reaction Outcome Prediction</a></li>
                
                
                
                <li><a href="/generation_tasks/sbdd" class=""><code>SBDD</code> Structure-based Drug Design</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/overview" class=""><strong>Others</strong></a>
            
            <ul>
                
                
                <li><a href="/single_pred_tasks/overview" class="">Single-instance Prediction Problem</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/overview" class="">Multi-instance Prediction Problem</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

</aside>
                </div>
                
                <div class="column is-8">
                    
                    
                    
                    
<div class="content">
    <h2 id="generation-datasets">Generation Datasets</h2>

<table class="table is-hoverable">
   <thead>
      <tr>
      	 <th>Task</th>
      	 <th>Dataset</th>
      </tr>
   </thead>
   <tbody>
      <tr>
      	<th><a href="/generation_tasks/molgen"><code>MolGen</code></a> </th>
      	<td>ZINC, MOSES, ChEMBL</td>
      </tr>
      <tr>
      	<th><a href="/generation_tasks/reaction"><code>Reaction</code></a> </th>
      	<td>USPTO</td>
      </tr>
      <tr>
      	<th><a href="/generation_tasks/retrosyn"><code>RetroSyn</code></a> </th>
      	<td>USPTO-50K, USPTO</td>
      </tr>
      <tr>
         <th><a href="/generation_tasks/sbdd"><code>SBDD</code></a> </th>
         <td>PDBBind, DUD-E, scPDB, CrossDock</td>
      </tr>
   </tbody>
</table>

</div>
                </div>
                
            </div>
        </div>
    </section>
    
{% endblock %}