{% extends "index_template.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-4-desktop is-4-tablet">
                    

<aside class="menu">

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/generation_tasks/overview" class=""><strong>Generation Problem</strong></a>
            
            <ul>
                
                
                <li><a href="/generation_tasks/molgen" class=""><code>MolGen</code> Molecule Generation</a></li>
                
                
                
                <li><a href="/generation_tasks/retrosyn" class=""><code>RetroSyn</code> Retrosynthesis Prediction</a></li>
                
                
                
                <li><a href="/generation_tasks/reaction" class="is-active"><code>Reaction</code> Reaction Outcome Prediction</a></li>
                
                
                
                <li><a href="/generation_tasks/sbdd" class=""><code>SBDD</code> Structure-based Drug Design</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/overview" class=""><strong>Others</strong></a>
            
            <ul>
                
                
                <li><a href="/single_pred_tasks/overview" class="">Single-instance Prediction Problem</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/overview" class="">Multi-instance Prediction Problem</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

</aside>
                </div>
                
                <div class="column is-8">
                    
                    
                    
                    
    
    

<div class="contents">
    <div class="menu">
        <p class="menu-label">Dataset Index</p>
        <ul class="menu-list">
  <li><a href="#uspto">USPTO</a></li>
</ul>
    </div>
</div>




<div class="content">
    <h1 id="reaction-outcome-prediction-task-overview">Reaction Outcome Prediction Task Overview</h1>

<div class="box">
	

<p class="is-size-6">  <strong> Definition: </strong> 
Reaction outcome prediction is to predict the reaction products given a set of reactants. Reaction outcome prediction can be seen as reverse process of retrosynthesis prediction. 
</p>

<p class="is-size-6"> <strong> Impact: </strong>  
Predicting the products as a result of a chemical reaction is a fundamental problem in organic chemistry. It is quite challenging for many complex organic reactions. Conventional empirical methods that relies on experimentation requires intensive manual label of an experienced chemist, and are always time-consuming and expensive. Reaction Outcome Prediction aims at automating the process. 
</p>

<p class="is-size-6"> <strong> Generalization: </strong> 
 The model is expected to accurately generate product for novel set of reactants across reaction types with varying reaction conditions.
</p>

<p class="is-size-6"> <strong> Product: </strong> Small-molecule. </p>

<p class="is-size-6"> <strong> Pipeline: </strong> Manufacturing - Synthesis planning. </p>

</div>

<h3 id="uspto">USPTO</h3>

<p class="is-size-6">  <strong> Dataset Description: </strong> The full USPTO (United States Patent and Trademark Office) retrosynthesis dataset. </p>

<p class="is-size-6">  <strong> Task Description: </strong> Given reactant set X, predict the reaction product Y. </p>

<p class="is-size-6">  <strong> Dataset Statistics: </strong> 1,939,253 reactions. </p>

<p class="is-size-6">  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc.generation</span> <span class="kn">import</span> <span class="n">Reaction</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">Reaction</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">'USPTO'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> References: </strong>  </p>

<p><a href="https://figshare.com/articles/Chemical_reactions_from_US_patents_1976-Sep2016_/5104873"> [1]  Daniel Lowe. Chemical reactions from US patents (1976-Sep2016).
</a></p>

<p><a href="http://papers.nips.cc/paper/6854-predicting-organic-reaction-outcomes-with-weisfeiler-lehman-network"> [2] Jin, Wengong, et al. “Predicting organic reaction outcomes with weisfeiler-lehman network.” NeurIPS. 2017.
</a></p>

<p class="is-size-6"> <strong> Dataset License: </strong> <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a>.</p>

<hr />


</div>
                </div>
                
            </div>
        </div>
    </section>
    
{% endblock %}