{% extends "index_template.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-4-desktop is-4-tablet">
                    

<aside class="menu">

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/generation_tasks/overview" class=""><strong>Generation Problem</strong></a>
            
            <ul>
                
                
                <li><a href="/generation_tasks/molgen" class=""><code>MolGen</code> Molecule Generation</a></li>
                
                
                
                <li><a href="/generation_tasks/retrosyn" class=""><code>RetroSyn</code> Retrosynthesis Prediction</a></li>
                
                
                
                <li><a href="/generation_tasks/reaction" class=""><code>Reaction</code> Reaction Outcome Prediction</a></li>
                
                
                
                <li><a href="/generation_tasks/sbdd" class="is-active"><code>SBDD</code> Structure-based Drug Design</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/overview" class=""><strong>Others</strong></a>
            
            <ul>
                
                
                <li><a href="/single_pred_tasks/overview" class="">Single-instance Prediction Problem</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/overview" class="">Multi-instance Prediction Problem</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

</aside>
                </div>
                
                <div class="column is-8">
                    
                    
                    
                    
    
    

<div class="contents">
    <div class="menu">
        <p class="menu-label">Dataset Index</p>
        <ul class="menu-list">
  <li><a href="#pdbbind">PDBBind</a></li>
  <li><a href="#dud-e">DUD-E</a></li>
  <li><a href="#scpdb">scPDB</a></li>
</ul>
    </div>
</div>




<div class="content">
    <h1 id="structure-based-drug-design-task-overview">Structure-based Drug Design Task Overview</h1>

<div class="box">
	

<p class="is-size-6">  <strong> Definition: </strong> 
 Structure-based Drug Design is to generate diverse, novel molecules that have high binding affinity to protein pockets (3D structures) and desirable chemical properties. These properties are measured by oracle functions. A machine learning task first learns the molecular characteristics given specific protein pockets from a large set of protein-ligand pair data. Then, from the learned conditional distribution, we can sample novel candidates.</p>

<p class="is-size-6"> <strong> Impact: </strong>  
 Designing a new drug candidate taking account into its structure and potential interaction with biological targets is of great importance to drug design (often referred as to structure-based drug design). Recent advances in machine learning, especially geometric deep learning have brought a new set of tools and a new wave for modeling highly structural data (including 3D biomolecular structures). Thus, structure-based drug design task is potentially of interest to both ML methodological advancements and applications in drug design.
</p>

<p class="is-size-6"> <strong> Generalization: </strong> 
The generated molecules have to obtain superior properties given a range of high binding affinity, and structurally diverse drugs. Besides, the generated molecules have to suffice other basic properties, such as synthesizablility and drug-likeness. 
</p>

<p class="is-size-6"> <strong> Product: </strong> Small-molecule. </p>

<p class="is-size-6"> <strong> Pipeline: </strong> Efficacy and safety - lead development and optimization, activity - hit identification. </p>

</div>

<h3 id="pdbbind">PDBBind</h3>

<p class="is-size-6">  <strong> Dataset Description: </strong> PDBBind is a comprehensive database extracted from PDB with experimentally measured binding affinity data for protein-ligand complexes. </p>

<p class="is-size-6">  <strong> Task Description: </strong> SBDD is to generate ligand that binds to protein pocket and has desirable properties measured by some oracles. </p>

<p class="is-size-6">  <strong> Note: </strong> : PDBBind does not allow re-distribution of the dataset in any format, thus, we could not host it in TDC server. However, since it requires significant processing to make the dataset ML ready, we provide an alternative route to do it. The user only needs to register in <a href="http://www.pdbbind.org.cn/"> http://www.pdbbind.org.cn/ </a> and download the raw dataset, and then provide the local path, TDC will then automatically detect the path and transform it to ML-ready format into the TDC dataloader.
 </p>

<p class="is-size-6">  <strong> Dataset Statistics: </strong> 19,445 protein-ligand pairs. </p>

<p class="is-size-6">  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc_ml.generation</span> <span class="kn">import</span> <span class="n">SBDD</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">SBDD</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s">'PDBBind'</span><span class="p">,</span> <span class="n">path</span><span class="o">=</span><span class="s">'./pdbbind'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> References: </strong>  </p>

<p><a href="http://pubs.acs.org/doi/abs/10.1021/jm030580l">[1] Wang, Renxiao, Xueliang Fang, Yipin Lu, and Shaomeng Wang. “The PDBbind database: Collection of binding affinities for protein−ligand complexes with known three-dimensional structures.” Journal of medicinal chemistry 47, no. 12 (2004): 2977-2980.  </a></p>

<p class="is-size-6"> <strong> Dataset License: </strong> See note above.</p>

<hr />

<h3 id="dud-e">DUD-E</h3>

<p class="is-size-6">  <strong> Dataset Description: </strong> DUD-E provides a directory of useful decoys for protein-ligand docking. </p>

<p class="is-size-6">  <strong> Task Description: </strong> SBDD is to generate ligand that binds to protein pocket and has desirable properties measured by some oracles. </p>

<p class="is-size-6">  <strong> Note: </strong> : DUD-E does not support pocket extraction as protein and ligand are not aligned.</p>

<p class="is-size-6">  <strong> Dataset Statistics: </strong> 22,886 active compounds and affinities against 102 targets </p>

<p class="is-size-6">  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc_ml.generation</span> <span class="kn">import</span> <span class="n">SBDD</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">SBDD</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s">'dude'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> References: </strong>  </p>

<p><a href="https://pubs.acs.org/doi/10.1021/jm300687e">[1] Mysinger, M.M., Carchia, M., Irwin, J.J. and Shoichet, B.K., 2012. Directory of useful decoys, enhanced (DUD-E): better ligands and decoys for better benchmarking. Journal of medicinal chemistry, 55(14), pp.6582-6594.  </a></p>

<p class="is-size-6"> <strong> Dataset License: </strong> Not specified.</p>

<hr />

<h3 id="scpdb">scPDB</h3>

<p class="is-size-6">  <strong> Dataset Description: </strong>  scPDB is processed from PDB for structure-based drug design that identifies suitable binding site for protein-ligand docking. </p>

<p class="is-size-6">  <strong> Task Description: </strong> SBDD is to generate ligand that binds to protein pocket and has desirable properties measured by some oracles. </p>

<p class="is-size-6">  <strong> Dataset Statistics: </strong> 16,034 protein-ligand pairs over 4,782 proteins and 6,326 ligands </p>

<p class="is-size-6">  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc_ml.generation</span> <span class="kn">import</span> <span class="n">SBDD</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">SBDD</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s">'scPDB'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> References: </strong>  </p>

<p><a href="https://pubmed.ncbi.nlm.nih.gov/21398668/">[1]Meslamani, J., Rognan, D. and Kellenberger, E., 2011. sc-PDB: a database for identifying variations and multiplicity of ‘druggable’ binding sites in proteins. Bioinformatics, 27(9), pp.1324-1326.  </a></p>

<p class="is-size-6"> <strong> Dataset License: </strong> Not specified.</p>

<hr />

<!--
### CrossDock

<p class='is-size-6'>  <strong> Dataset Description: </strong>   CrossDock provides binding poses of ligands docked into binding pockets across PDB. </p>

<p class='is-size-6'>  <strong> Task Description: </strong> SBDD is to generate ligand that binds to protein pocket and has desirable properties measured by some oracles. </p>

<p class='is-size-6'>  <strong> Note: </strong> : The subset of crossdock [1] is provided by [2]. </p>


<p class='is-size-6'>  <strong> Dataset Statistics: </strong> 184,057 protein-ligand pairs. </p>

<p class='is-size-6'>  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

``` python
from tdc_ml.generation import SBDD
data = SBDD(name='crossdock')
split = data.get_split()
```

<p class='is-size-6'>  <strong> References: </strong>  </p>

<a href="https://pubmed.ncbi.nlm.nih.gov/32865404/">[1]Francoeur, P.G., Masuda, T., Sunseri, J., Jia, A., Iovanisci, R.B., Snyder, I. and Koes, D.R., 2020. Three-dimensional convolutional neural networks and a cross-docked data set for structure-based drug design. Journal of chemical information and modeling, 60(9), pp.4200-4215. </a> 

<a href="https://openreview.net/forum?id=yDwfVD_odRo">[2] Luo, S., Guan, J., Ma, J. and Peng, J., 2022. A 3D Molecule Generative Model for Structure-Based Drug Design. arXiv preprint arXiv:2203.10446.
License: Not specified.
 </a> 


<p class='is-size-6'> <strong> Dataset License: </strong> Not specified.</p>

<hr />

-->

</div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}