{% extends "index_template.html" %}
{% block content %}
    
    


    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-4-desktop is-4-tablet">
                    

<aside class="menu">

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/multi_pred_tasks/overview" class=""><strong>Multi-instance Prediction Problem</strong></a>
            
            <ul>
                
                
                <li><a href="/multi_pred_tasks/dti" class=""><code>DTI</code> Drug-Target Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/ddi" class=""><code>DDI</code> Drug-Drug Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/ppi" class=""><code>PPI</code> Protein-Protein Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/gdi" class=""><code>GDA</code> Gene-Disease Association</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/drugres" class=""><code>DrugRes</code> Drug Response Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/drugsyn" class=""><code>DrugSyn</code> Drug Synergy Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/peptidemhc" class=""><code>PeptideMHC</code> Peptide-MHC Binding</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/antibodyaff" class=""><code>AntibodyAff</code> Antibody-Antigen Affinity</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/mti" class=""><code>MTI</code> miRNA-Target Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/catalyst" class="is-active"><code>Catalyst</code> Catalyst Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/tcrepitope" class=""><code>TCREpitopeBinding</code> TCR-Epitope Binding</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/trialoutcome" class=""><code>TrialOutcome</code> Clinical Trial Outcome Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/proteinpeptide" class=""><code>ProteinPeptide</code> Protein-Peptide Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/counterfactual" class=""><code>PerturbOutcome</code> Counterfactual Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/scdti" class=""><code>scDTI</code> Single-cell Drug-Target Interaction</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/overview" class=""><strong>Others</strong></a>
            
            <ul>
                
                
                <li><a href="/single_pred_tasks/overview" class="">Single-instance Prediction Problem</a></li>
                
                
                
                <li><a href="/generation_tasks/overview" class="">Generation Problem</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

</aside>
                </div>
                
                <div class="column is-8">
                    
                    
                    
                    
    
    

<div class="contents">
    <div class="menu">
        <p class="menu-label">Dataset Index</p>
        <ul class="menu-list">
  <li><a href="#uspto">USPTO</a></li>
</ul>
    </div>
</div>




<div class="content">
    <h1 id="catalyst-prediction-task-overview">Catalyst Prediction Task Overview</h1>

<div class="box">
	

<p class="is-size-6">  <strong> Definition: </strong> 
During chemical reaction, catalyst is able to increase the rate of the reaction. Catalysts are not consumed in the catalyzed reaction but can act repeatedly. This learning task aims to predict the catalyst for a reaction given both reactant molecules and product molecules.
</p>

<p class="is-size-6"> <strong> Impact: </strong>  
Conventionally, chemists design and synthesize catalysts by trial and error with chemical intuition, which is usually time-consuming and costly. Machine learning model and automate and accelerate the process, understand the catalytic mechanism, and providing an insight into novel catalytic design. 

</p>

<p class="is-size-6"> <strong> Generalization: </strong> 
In real-world discovery, as discussed, the molecule structures in reaction of interest evolve over time. We expect model to generalize to the unseen molecules and reaction. 
</p>

<p class="is-size-6"> <strong> Product: </strong> Small-molecule. </p>

<p class="is-size-6"> <strong> Pipeline: </strong> Manufacturing - synthesis planning.</p>

</div>

<h3 id="uspto">USPTO</h3>

<p class="is-size-6">  <strong> Dataset Description: </strong> USPTO (United States Patent and Trademark Office)  50K consists of 50K extracted atom-mapped reactions with 10 reaction types. TDC selects the most common catalysts that have occurences higher than 100 times. </p>

<p class="is-size-6">  <strong> Task Description: </strong> Given reactant and product set X, predict the catalyst Y from a set of most common catalysts. </p>

<p class="is-size-6">  <strong> Dataset Statistics: </strong> 721,799 reactions, 712,757 reactants and 702,940 products with 888 common catalyst types. </p>

<p class="is-size-6">  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc.multi_pred</span> <span class="kn">import</span> <span class="n">Catalyst</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">Catalyst</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">'USPTO_Catalyst'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> Note: </strong> To know what type of catalyst the label index corresponds to, use:  </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc.utils</span> <span class="kn">import</span> <span class="n">get_label_map</span>
<span class="n">get_label_map</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">'USPTO_Catalyst'</span><span class="p">,</span> <span class="n">task</span> <span class="o">=</span> <span class="s">'Catalyst'</span><span class="p">)</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> References: </strong>  </p>

<p><a href="https://aspace.repository.cam.ac.uk/handle/1810/244727">[1] Lowe, Daniel Mark. Extraction of chemical structures and reactions from the literature. Diss. University of Cambridge, 2012. </a></p>

<p><a href="https://pubs.acs.org/doi/abs/10.1021/acscentsci.8b00357">[2] Gao, Hanyu, et al. “Using machine learning to predict suitable conditions for organic reactions.” ACS central science 4.11 (2018): 1465-1476. </a></p>

<p class="is-size-6"> <strong> Dataset License: </strong> <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a>.</p>
<hr />


</div>
                </div>
                
            </div>
        </div>
    </section>
    
{% endblock %}