{% extends "index_template.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-4-desktop is-4-tablet">
                    

<aside class="menu">

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/multi_pred_tasks/overview" class=""><strong>Multi-instance Prediction Problem</strong></a>
            
            <ul>
                
                
                <li><a href="/multi_pred_tasks/dti" class=""><code>DTI</code> Drug-Target Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/ddi" class=""><code>DDI</code> Drug-Drug Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/ppi" class=""><code>PPI</code> Protein-Protein Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/gdi" class=""><code>GDA</code> Gene-Disease Association</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/drugres" class=""><code>DrugRes</code> Drug Response Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/drugsyn" class=""><code>DrugSyn</code> Drug Synergy Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/peptidemhc" class=""><code>PeptideMHC</code> Peptide-MHC Binding</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/antibodyaff" class=""><code>AntibodyAff</code> Antibody-Antigen Affinity</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/mti" class="is-active"><code>MTI</code> miRNA-Target Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/catalyst" class=""><code>Catalyst</code> Catalyst Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/tcrepitope" class=""><code>TCREpitopeBinding</code> TCR-Epitope Binding</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/trialoutcome" class=""><code>TrialOutcome</code> Clinical Trial Outcome Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/proteinpeptide" class=""><code>ProteinPeptide</code> Protein-Peptide Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/counterfactual" class=""><code>PerturbOutcome</code> Counterfactual Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/scdti" class=""><code>scDTI</code> Single-cell Drug-Target Interaction</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/overview" class=""><strong>Others</strong></a>
            
            <ul>
                
                
                <li><a href="/single_pred_tasks/overview" class="">Single-instance Prediction Problem</a></li>
                
                
                
                <li><a href="/generation_tasks/overview" class="">Generation Problem</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

</aside>
                </div>
                
                <div class="column is-8">
                    
                    
                    
                    
    
    

<div class="contents">
    <div class="menu">
        <p class="menu-label">Dataset Index</p>
        <ul class="menu-list">
  <li><a href="#mirtarbase">miRTarBase</a></li>
</ul>
    </div>
</div>




<div class="content">
    <h1 id="microrna-target-interaction-prediction-task-overview">MicroRNA-Target Interaction Prediction Task Overview</h1>

<div class="box">
	

<p class="is-size-6">  <strong> Definition: </strong> 
MicroRNA (miRNA) is small noncoding RNA that plays an important role in regulating biological processes such as cell proliferation, cell differentiation and so on. They usually function to downregulate gene targets. This task is to predict the interaction activity between miRNA and the gene target.
</p>

<p class="is-size-6"> <strong> Impact: </strong>  
Accurately predicting the unknown interaction between miRNA and target can lead to a more complete knowledge about disease mechanism and also could result in potential disease target biomarkers. They can also help identify miRNA hits for miRNA therapeutics candidates.
</p>

<p class="is-size-6"> <strong> Generalization: </strong> 
The model needs to learn the biochemicals of miRNA and target proteins so that it can extrapolate to new set of novel miRNAs and targets in various disease groups and tissues.
</p>

<p class="is-size-6"> <strong> Product: </strong> Small-molecule, miRNA therapeutic. </p>

<p class="is-size-6"> <strong> Pipeline: </strong> Basic biomedical research, target discovery, activity. </p>

</div>

<h3 id="mirtarbase">miRTarBase</h3>

<p class="is-size-6">  <strong> Dataset Description: </strong> miRTarBase has accumulated more than three hundred and sixty thousand miRNA-target interactions (MTIs), which are collected by manually surveying pertinent literature after NLP of the text systematically to filter research articles related to functional studies of miRNAs. Generally, the collected MTIs are validated experimentally by reporter assay, western blot, microarray and next-generation sequencing experiments. TDC uses miRBase to obtain miRNA mature sequence. </p>

<p class="is-size-6">  <strong> Task Description: </strong> Binary Classification. Given the miRNA mature sequence and target amino acid sequence, predict their likelihood of interaction. </p>

<p class="is-size-6">  <strong> Dataset Statistics: </strong> 400,082 MTI pairs, 3,465 miRNAs, 21,242 targets </p>

<p class="is-size-6">  <strong> Dataset Split: </strong> <span class="tag is-info is-light">Random Split</span> </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc_ml.multi_pred</span> <span class="kn">import</span> <span class="n">MTI</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">MTI</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">'miRTarBase'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>

<p class="is-size-6"> <strong>Note:</strong> The dataset contains only positive pairs. To get the negative samples, you can call: </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">data</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">neg_sample</span><span class="p">(</span><span class="n">frac</span> <span class="o">=</span> <span class="mi">1</span><span class="p">)</span>
</code></pre></div></div>

<p class="is-size-6">  <strong> References: </strong>  </p>

<p><a href="https://academic.oup.com/nar/article-abstract/46/D1/D296/4595852">[1] Chou, Chih-Hung, et al. “miRTarBase update 2018: a resource for experimentally validated microRNA-target interactions.” Nucleic acids research 46.D1 (2018): D296-D302.</a></p>

<p><a href="https://academic.oup.com/nar/article-abstract/47/D1/D155/5179337">[2] Kozomara, Ana, Maria Birgaoanu, and Sam Griffiths-Jones. “miRBase: from microRNA sequences to function.” Nucleic acids research 47.D1 (2019): D155-D162.</a></p>

<p class="is-size-6"> <strong> Dataset License: </strong> <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>

<hr />


</div>
                </div>
                
            </div>
        </div>
    </section>
    
{% endblock %}