{% extends "index_template.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-4-desktop is-4-tablet">
                    

<aside class="menu">

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/multi_pred_tasks/overview" class=""><strong>Multi-instance Prediction Problem</strong></a>
            
            <ul>
                
                
                <li><a href="/multi_pred_tasks/dti" class=""><code>DTI</code> Drug-Target Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/ddi" class=""><code>DDI</code> Drug-Drug Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/ppi" class=""><code>PPI</code> Protein-Protein Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/gdi" class=""><code>GDA</code> Gene-Disease Association</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/drugres" class=""><code>DrugRes</code> Drug Response Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/drugsyn" class=""><code>DrugSyn</code> Drug Synergy Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/peptidemhc" class=""><code>PeptideMHC</code> Peptide-MHC Binding</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/antibodyaff" class=""><code>AntibodyAff</code> Antibody-Antigen Affinity</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/mti" class=""><code>MTI</code> miRNA-Target Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/catalyst" class=""><code>Catalyst</code> Catalyst Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/tcrepitope" class=""><code>TCREpitopeBinding</code> TCR-Epitope Binding</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/trialoutcome" class=""><code>TrialOutcome</code> Clinical Trial Outcome Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/proteinpeptide" class=""><code>ProteinPeptide</code> Protein-Peptide Interaction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/counterfactual" class=""><code>PerturbOutcome</code> Counterfactual Prediction</a></li>
                
                
                
                <li><a href="/multi_pred_tasks/scdti" class=""><code>scDTI</code> Single-cell Drug-Target Interaction</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

    <p class="menu-label"></p>
    <ul class="menu-list">
        
        <li>
            <a href="/overview" class=""><strong>Others</strong></a>
            
            <ul>
                
                
                <li><a href="/single_pred_tasks/overview" class="">Single-instance Prediction Problem</a></li>
                
                
                
                <li><a href="/generation_tasks/overview" class="">Generation Problem</a></li>
                
                
            </ul>
            
        </li>
            
    </ul>

</aside>
                </div>
                
                <div class="column is-8">
                    
                    
                    
                    
    
    

<div class="contents">
    <div class="menu">
        <p class="menu-label">Dataset Index</p>
        <ul class="menu-list">
    {% for var, id, name, desc, task, stats, splits, class, refs, license, liclink in datasets %}
    <li><a href="#{{ id }}">{{ name }}</a></li>
    {% endfor %}
</ul>
    </div>
</div>




<div class="content">
    <h1 id="{{ desc_id }}">{{ desc_title }}</h1>

<div class="box">
	

<p class="is-size-6">  <strong> Definition: </strong> 
{{ desc_desc }}
</p>

<p class="is-size-6"> <strong> Impact: </strong>  
{{ desc_impact }}
</p>

<p class="is-size-6"> <strong> Generalization: </strong> 
{{ desc_gen }}
</p>

<p class="is-size-6"> <strong> Product: </strong> {{ desc_product }} </p>

<p class="is-size-6"> <strong> Pipeline: </strong> {{ desc_pipeline }} </p>

</div>

{% for var, id, name, desc, task, stats, splits, class, refs, license, liclink in datasets %}
<h3 id="{{ id }}">{{ name }}</h3>
<p class="is-size-6">  <strong> Dataset Description: </strong> {{ desc }} </p>
<p class="is-size-6">  <strong> Task Description: </strong>{{ task }}</p>
<p class="is-size-6">  <strong> Dataset Statistics: </strong>{{ stats }}</p>
<p class="is-size-6">  <strong> Dataset Split: </strong> 
{% for split in splits %}
<span class="tag is-info is-light">{{split}}</span>
{% endfor %}
</p>
<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="kn">from</span> <span class="nn">tdc.multi_pred</span> <span class="kn">import</span> <span class="n">{{ class }}</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">{{ class }}</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">'{{ var }}'</span><span class="p">)</span>
<span class="n">split</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>
<p class="is-size-6">  <strong> References: </strong>  </p>
{% for ref, reflink in refs %}
<p><a href="{{ reflink }}">{{ ref }}</a></p>
{% endfor %}
<p class="is-size-6"> <strong> Dataset License: </strong> <a href="{{ liclink }}">{{ license }}</a></p>
<hr />
{% endfor %}

</div>
                </div>
                
            </div>
        </div>
    </section>
    
 {% endblock %}