{% extends "index_template.html" %}
{% block content %}    


    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-12">
                    
                    
                    
                    
<div class="content">
    <h1 id="introduction">Introduction</h1>

<h2 id="tiered-design-of-therapeutics-data-commons-problem--ml-task--dataset">Tiered Design of Therapeutics Data Commons: “Problem – ML Task – Dataset”</h2>

<div class="container">
    <div class="columns is-vcentered">
        <div class="column is-8">
              <p class="is-size-5">
              TDC has an unique three-tiered hierarchical structure. At the highest level, its resources are organized to support three types of <b>problems</b>. For each problem, we give a collection <b>ML tasks</b>. Finally, for each task, we provide a series of <b>datasets</b>.
              </p> 
              <p class="is-size-5">
              The Commons outlines three major problems in the first tier:
              </p>
              <ul>
                <li><strong>Single-instance prediction </strong> <code>single_pred</code>: Making predictions involving individual biomedical entities. </li>
                <li><strong>Multi-instance prediction </strong><code>multi_pred</code>: Making predictions about multiple biomedical entities. </li>
                <li><strong>Generation</strong> <code>generation</code>: Generating new biomedical entities with desirable properties. </li>
              </ul>
        </div>
        <div class="column is-3 has-text-centered">
            <img src="{{ url_for('static', filename='images/tdc_hierarchy.png') }}" alt="TDC hierarchy" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container">
    <div class="columns is-vcentered">
        <div class="column is-8">
              <p class="is-size-5">
              At the second tier, TDC is organized into ML tasks. Researchers across disciplines can use ML tasks for numerous applications, including identifying personalized combinatorial therapies, designing novel class of antibodies, improving disease diagnosis, and finding new cures for emerging diseases.
        </p>
        <p class="is-size-5">
        In the third tier, we provide multiple datasets for each task. For each dataset, we provide several splits of the dataset into training, validation, and test sets to evaluate model performance.
        </p>
              <p class="is-size-5"> </p>
        </div>
        <div class="column is-3 has-text-centered">
            <img src="{{ url_for('static', filename='images/tdc_problems.png') }}" alt="TDC problems" class="img-responsive" />
        </div>
    </div>
</div>

<div class="column is-12">
    <hr />
</div>

<h2 id="installation">Installation</h2>

<p class="is-size-5"> To install the PyTDC Python package, use the following: </p>

<div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>pip <span class="nb">install </span>pytdc-nextml
</code></pre></div></div>

<p class="is-size-5"> The installation of the package is hassle-free with minimum dependency on external packages. </p>

<div class="column is-12">
    <hr />
</div>

<h2 id="data-loaders">Data Loaders</h2>

<p class="is-size-5">  TDC provides intuitive, high-level APIs for both beginners and experts to create ML models in Python. Building off the modularized "Problem--ML Task--Dataset" structure, TDC provides a three-layer API to access any ML task and dataset.  
</p>

<div class="column is-8 is-offset-2">
    <img src="{{ url_for('static', filename='images/tdc_API_relation2.png') }}" alt="TDC api" class="img-responsive" />
</div>

<p class="is-size-5"> As an example, to obtain the <code>Caco2</code> dataset from <code>ADME</code> task in the <code>single-instance prediction</code> problem do as follows: </p>

<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">from</span> <span class="nn">tdc_ml.single_pred</span> <span class="kn">import</span> <span class="n">ADME</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">ADME</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">'Caco2_Wang'</span><span class="p">)</span>
<span class="n">df</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_data</span><span class="p">()</span>
<span class="n">splits</span> <span class="o">=</span> <span class="n">data</span><span class="p">.</span><span class="n">get_split</span><span class="p">()</span>
</code></pre></div></div>
<p class="is-size-5"> The variable <code>df</code> is a Pandas object holding the entire dataset. By default, the variable <code>splits</code> is a dictionary with keys <code>train</code>, <code>val</code>, and <code>test</code> whose values are all Pandas DataFrames with Drug IDs, SMILES strings and labels. For detailed information about outputs, see <a href="/single_pred_tasks/adme#caco-2-cell-effective-permeability-wang-et-al">Datasets documentation.</a> </p>

<p class="is-size-5"> The user only needs to specify "Problem -- ML Task -- Dataset." TDC then automatically retrieves the processed ML-ready dataset from the TDC server and generates a <code>data</code> object, exposing numerous data functions that can be directly applied to the dataset. </p>

<div class="column is-12">
    <hr />
</div>

<h2 id="ecosystem-of-data-functions-tools-libraries-and-community-resources">Ecosystem of Data Functions, Tools, Libraries, and Community Resources</h2>

<p class="is-size-5"> TDC includes numerous data functions to support the development of novel ML methods and theory: </p>
<ul class="is-size-5">
    <li><strong>Model Evaluation</strong>: TDC implements a series of metrics and performance functions to debug ML models, evaluate model performance for any task in TDC, and assess whether model predictions generalize to out-of-distribution datasets.</li>
    <li><strong>Dataset Splits</strong>: Therapeutic applications require ML models to generalize to out-of-distribution samples. TDC
implements various data splits to reflect realistic learning settings. </li>
    <li><strong>Data Processing</strong>: As therapeutics ML covers a wide range of data modalities and requires numerous repetitive
processing functions, TDC implements wrappers and useful data helpers for them. </li>
    <li><strong>Molecule Generation Oracles</strong>: Molecular design tasks require oracle functions to measure the quality of generated entities. TDC implements over 17 molecule generation oracles, representing the most comprehensive colleciton of molecule oracles. Each oracle is tailored to measure the quality of AI-generated molecules in a specific dimension.</li>
  </ul>

<div class="column is-12">
    <hr />
</div>


<div class="column is-12">
    <hr />
</div>


<p class="is-size-3 has-text-centered"> <strong>Explore Therapeutics Data Commons</strong> </p>

<div class="container">
        <div class="columns is-vcentered is-size-5">
            <div class="column is-4 has-text-centered"> <a href="/overview" class="box has-background-info has-text-white">Overview of Datasets</a></div>
            <div class="column is-4 has-text-centered"> <a href="/fct_overview" class="box has-background-info has-text-white">Overview of Data Functions</a></div>
            <div class="column is-4 has-text-centered"> <a href="/benchmark/overview" class="box has-background-info has-text-white">Overview of Benchmarks</a></div>
        </div>
</div>

</div>
                </div>
                
            </div>
        </div>
    </section>
    {% endblock %}